
<div class="box overflow-scroll p-5 chat-body-height mb-2" 
    infiniteScroll 
    (scrolled)="loadMore()" >

    <div *ngFor="let mess of messages">

        <div *ngIf="mess.author == userId">
            <user-message [text]="mess.content"></user-message>
        </div>

        <div *ngIf="mess.author != userId">
            <foreign-message [text]="mess.content"></foreign-message>
        </div>

    </div>
    

</div>
<div class="columns">
    <div class="column is-three-quarters">
        <input class="input" type="text" placeholder="Type messages" #messageContent>
    </div>
    <div class="column">
        <button class="button" (click)="post_message(messageContent.value)"> Send </button>
    </div>
</div>

