<div class="box overflow-scroll p-5 chat-body-height mb-2">

    <!-- To implement *ngFor to iterate on every message-->
    <foreign-message></foreign-message>
    
    <user-message></user-message>
    <user-message></user-message>
    <user-message></user-message>
    <user-message></user-message>
    <user-message></user-message>
    <user-message></user-message>
    

</div>
<div class="columns">
    <div class="column is-three-quarters">
        <input class="input" type="text" placeholder="Type messages">
    </div>
    <div class="column">
        <button class="button"> Send </button>
    </div>
</div>

