<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">
        <div class="box has-background-light height mt-2 is-vcentered mr-1">

            
            <div class="columns width-95 margin-auto mb-4">
                <div class = "column is-one-quarter">
                    <feature-button></feature-button>
                </div>
                <div  class = "column">
                    <profile-button></profile-button>
                </div>
            </div>

            <div class="width-80 margin-auto has-text-centered">
                <img width="400px" height="100px" class="margin-auto" src="assets/images/homepage.png"/>
            </div>
            
            <div class="width-80 margin-auto mb-6">
                <game-button></game-button>
            </div>
            <div class="just-a-spacer"></div>
            <div class="columns width-95 margin-auto mt-5">
                <div class = "column is-one-quarter">
                    <feature-button></feature-button>
                </div>

                <div  class = "column is-half">
                    <feature-button></feature-button>
                </div>

                <div class = "column is-one-quarter">
                    <feature-button></feature-button>
                </div>
            </div>







        </div>
    </div>
</div>
