<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">
        <div class="box has-background-light height mt-2 is-vcentered mr-1">

            
            <div class="columns width-95 margin-auto mb-4 height-20">
                <player-info [user]="user" class="width-80 margin-auto"></player-info>
            </div>

            <div class="height-60">
                <div class="width-80 margin-auto has-text-centered">
                    <img width="400px" height="100px" class="margin-auto" src="assets/images/homepage.png"/>
                </div>
                
                <div class="width-80 margin-auto mb-6">
                    <game-button></game-button>
                </div>
            </div>

            <div class="just-a-spacer"></div>
            
            <div class="columns width-95 margin-auto mt-5 height-20">
                <div class = "column is-one-quarter">
                    <feature-button title="Leaderboard" link="leaderboard"></feature-button>
                </div>

                <div  class = "column is-half">
                    <feature-button title="Friends" link="relationships"></feature-button>
                </div>

                <div class = "column is-one-quarter">
                    <feature-button title="Notifications" link="notification"></feature-button>
                </div>
            </div>

        </div>
    </div>
</div>
