<div class="columns mt-3">

    <div class="column height box has-background-light mr-2 ml-4">

        <div class="width-60 margin-auto box has-background-primary  has-text-centered">
            <strong class="has-text-light is-size-5">Prepare your field</strong>
        </div>

        <div class="columns">
            <div class="column is-half height-100">
                
                <div class="board-height">
                    <board></board>
                </div>
                <div class="width-80 margin-auto mt-5">
                    <button class="button width-40 is-medium is-success mr-6" disabled>Battle</button>
                    <button class="button width-40 is-medium is-primary is-outlined">Random Deploy</button>
                </div>
                

            </div>
            <div class="column">

                <div class="columns mt-2">

                    <div class="box width-80 margin-auto column is-half">
                        <figure class="image">
                            <img class="ships-height" src="assets/images/carrier.png">
                        </figure>

                    </div>

                    <div class="column ">
                        <div class="columns mb-0">
                            <div class="column">
                                <strong class="has-weight-semibold mb-1">Carrier - 5 x 1</strong>
                            
                                <div>
                                    
                                        <label class="radio mr-3">
                                            <input type="radio" name="direction">Vertical
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="direction">Horizontal
                                        </label>
                                    
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <button class="button is-info" alt="Deploy">D</button>
                            </div>
                        </div>
                        <input type="text" class="input">
                    </div>

                </div>

                <div class="columns">
                    
                    <div class="box width-80 margin-auto column is-half">
                        <figure class="image">
                            <img class="ships-height" src="assets/images/battleship.png">
                        </figure>

                    </div>

                    <div class="column ">
                        <div class="columns mb-0">
                            <div class="column">
                                <strong class="has-weight-semibold mb-1">battleship - 4 x 1</strong>
                            
                                <div>
                                    
                                        <label class="radio mr-3">
                                            <input type="radio" name="direction">Vertical
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="direction">Horizontal
                                        </label>
                                    
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <button class="button is-info" alt="Deploy">D</button>
                            </div>
                        </div>
                        <input type="text" class="input">
                    </div>

                </div>

                <div class="columns">
                    
                    <div class="box width-80 margin-auto column is-half">
                        <figure class="image">
                            <img class="ships-height" src="assets/images/cruiser.png">
                        </figure>

                    </div>

                    <div class="column ">
                        <div class="columns mb-0">
                            <div class="column">
                                <strong class="has-weight-semibold mb-1">Cruiser - 3 x 1</strong>
                            
                                <div>
                                    
                                        <label class="radio mr-3">
                                            <input type="radio" name="direction">Vertical
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="direction">Horizontal
                                        </label>
                                    
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <button class="button is-info" alt="Deploy">D</button>
                            </div>
                        </div>
                        <input type="text" class="input">
                    </div>

                </div>

                <div class="columns ship-section-height">
                    
                    <div class="box width-80 margin-auto column is-half">
                        <figure class="image">
                            <img class="ships-height" src="assets/images/destroyer.png">
                        </figure>

                    </div>

                    <div class="column">
                        <div class="columns mb-0">
                            <div class="column">
                                <strong class="has-weight-semibold mb-1">Destroyer - 2 x 1</strong>
                            
                                <div>
                                    
                                        <label class="radio mr-3">
                                            <input type="radio" name="direction">Vertical
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="direction">Horizontal
                                        </label>
                                    
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <button class="button is-info" alt="Deploy">D</button>
                            </div>
                        </div>
                        <input type="text" class="input">
                    </div>

                </div>


            </div>
        </div>


    </div>


    <div class="column height is-one-quarter mr-5">


        <div class="columns">

            <div class="column mr-3">
                <player-info></player-info>
            </div>

            <div class="column is-one-quarter">
                <div class="box has-background-primary pointer height-100 columns">
                    <div class="has-text-centered">
                        <strong class="is-size-5 has-weight-semibold has-text-danger">Quit Game</strong>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="chat-height p-4">
            <chat-body></chat-body>
        </div>

    </div>

</div>
