<div class="columns mt-3">

    <div class="column height box has-background-light mr-2 ml-4">

        <div class="width-60 margin-auto box has-background-primary  has-text-centered">
            <strong class="has-text-light is-size-5">Prepare your field</strong>
        </div>

        <div class="columns">
            <div class="column is-half height-100">
                
                <div class="board-height">
                    <board [state]="grid" [triggerUpdate]="trigger"></board>
                </div>
                <div  class="width-80 margin-auto has-text-centered mt-0 height-20px mb-4">
                    <p *ngIf="positioningError.error" class="has-text-danger is-size-5">{{positioningError.errorMessage}}</p>
                </div>
                <div class=" is-flex margin-auto">
                    <button id="ready-button" class="button width-40 is-medium is-success mr-2" [disabled]="!ready" (click)="beReady()">Battle</button>
                    <button id="random-deploy-button" class="button width-40 is-medium is-primary is-outlined mr-2" (click)="randomDeploy()" [disabled]="allowRandomDeploy">Random Deploy</button>
                    <button id="reset-button" class="button width-40 is-medium is-primary is-outlined"  (click)="reset()">Reset</button>
                </div>
                

            </div>
            <div class="column">

                <div class="columns mt-2">

                    <div class="box width-80 margin-auto column is-half">
                        <figure class="image">
                            <img class="ships-height" src="assets/images/carrier.png">
                        </figure>

                    </div>

                    <div class="column ">
                        <div class="columns mb-0">
                            <div class="column">
                                <strong class="has-weight-semibold mb-1">Carrier - {{carrierCount}} left</strong>
                            
                                <div>
                                    
                                    <label class="radio mr-3">
                                        <input type="radio" name="carrierDirection" value="vertical" checked #carrierVertical>Vertical
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="carrierDirection" value="horizontal" >Horizontal
                                    </label>
                                    
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <button [disabled]="carrierCount == 0"  class="button is-info" alt="Deploy" (click)="deploy('Carrier', rowCarrier.value, colCarrier.value, carrierVertical.checked)">D</button>
                            </div>
                        </div>
                        <div class="is-flex">
                            <p class="mr-2">Row:</p> <input type="text" class="input is-small mr-2" #rowCarrier>
                            <p class="mr-2">Column: </p> <input type="text" class="input is-small" #colCarrier>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    
                    <div class="box width-80 margin-auto column is-half">
                        <figure class="image">
                            <img class="ships-height" src="assets/images/battleship.png">
                        </figure>

                    </div>

                    <div class="column ">
                        <div class="columns mb-0">
                            <div class="column">
                                <strong class="has-weight-semibold mb-1">Battleship - {{battleshipCount}} left</strong>
                            
                                <div>
                                    
                                    <label class="radio mr-3">
                                        <input type="radio" name="battleshipDirection" value="vertical" checked #battleshipVertical >Vertical
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="battleshipDirection" value="horizontal">Horizontal
                                    </label>
                                    
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <button [disabled]="battleshipCount == 0" class="button is-info" alt="Deploy" (click)="deploy('Battleship', rowBattleship.value, colBattleship.value, battleshipVertical.checked)">D</button>
                            </div>
                        </div>
                        <div class="is-flex">
                            <p class="mr-2">Row:</p> <input type="text" class="input is-small mr-2" #rowBattleship>
                            <p class="mr-2">Column: </p> <input type="text" class="input is-small" #colBattleship>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    
                    <div class="box width-80 margin-auto column is-half">
                        <figure class="image">
                            <img class="ships-height" src="assets/images/cruiser.png">
                        </figure>

                    </div>

                    <div class="column ">
                        <div class="columns mb-0">
                            <div class="column">
                                <strong class="has-weight-semibold mb-1">Cruiser - {{cruiserCount}} left</strong>
                            
                                <div>
                                    
                                    <label class="radio mr-3">
                                        <input type="radio" name="cruiserDirection" value="vertical" checked #cruiserVertical >Vertical
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="cruiserDirection" value="horizontal" >Horizontal
                                    </label>
                                    
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <button [disabled]="cruiserCount == 0" class="button is-info" alt="Deploy" (click)="deploy('Cruiser', rowCruiser.value, colCruiser.value, cruiserVertical.checked)">D</button>
                            </div>
                        </div>
                        <div class="is-flex">
                            <p class="mr-2">Row:</p> <input type="text" class="input is-small mr-2" #rowCruiser>
                            <p class="mr-2">Column: </p> <input type="text" class="input is-small" #colCruiser>
                        </div>
                    </div>

                </div>

                <div class="columns ship-section-height">
                    
                    <div class="box width-80 margin-auto column is-half">
                        <figure class="image">
                            <img class="ships-height" src="assets/images/destroyer.png">
                        </figure>

                    </div>

                    <div class="column">
                        <div class="columns mb-0">
                            <div class="column">
                                <strong class="has-weight-semibold mb-1">Destroyer - {{destroyerCount}} left</strong>
                            
                                <div>
                                    
                                    <label class="radio mr-3">
                                        <input type="radio" name="destroyerDirection" value="vertical" checked #destroyerVertical>Vertical
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="destroyerDirection" value="horizontal">Horizontal
                                    </label>
                                    
                                </div>
                            </div>
                            <div class="column is-one-quarter">
                                <button [disabled]="destroyerCount == 0" class="button is-info" alt="Deploy" (click)="deploy('Destroyer', rowDestroyer.value, colDestroyer.value, destroyerVertical.checked)">D</button>
                            </div>
                        </div>
                        <div class="is-flex">
                            <p class="mr-2">Row:</p> <input type="text" class="input is-small mr-2" #rowDestroyer>
                            <p class="mr-2">Column: </p> <input type="text" class="input is-small" #colDestroyer>
                        </div>
                    </div>

                </div>


            </div>
        </div>


    </div>


    <div class="column height is-one-quarter mr-5">


        <div class="columns">

            <div class="column mr-3">
                <player-info [userId]="opponentsId"></player-info>
            </div>

            <div class="column is-one-quarter">
                <div class="box has-background-primary pointer height-100 columns" (click)="leaveMatch()">
                    <div class="has-text-centered">
                        <strong class="is-size-5 has-weight-semibold has-text-danger" >Quit Game</strong>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="chat-height p-4 mt-6">
            <div class="box has-background-light has-text-centered">
                <strong class="is-size-4 has-weight-bold">Chat will be available after the preparation phase</strong>
            </div>
        </div>

    </div>

</div>
