<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">

        <div class="box has-background-primary height mt-2 is-vcentered mr-1">

            <div class="columns">
                <div class="column">
                    <h1 class="is-size-1 has-text-light ml-5 has-text-weight-bold">Leaderboard</h1>
                </div>
                <div class="column is-one-quarter pointer" [routerLink]="['/homepage']">
                    <div class="box has-background-light pointer">
                        <div class="has-text-centered">
                            <strong>BACK</strong>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr class="mb-4">


            <div class="height-80 width-80 margin-auto">

                <div class="leaders-list-height overflow-scroll p-1">

                   
                    <div [ngSwitch]="num_leaders()" class="list-height overflow-scroll">

                        <div *ngSwitchCase="0" class= "box has-background-light width-80 mb-1 has-text-centered margin-auto">
                            <p> <strong>There are no users here :(</strong></p>
                        </div>


                        <div *ngSwitchDefault>

                            <div *ngFor="let item of leaders" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer" [routerLink]="['/profile/{{item.userId}}']">
                                <p> <strong>{{item.username}} - {{ item.elo }} pp</strong></p>
                            </div>
                            <button class="button is-small is-fullwidth margin-auto is-info"(click)="loadMore()">Load more</button>
                            
                        </div>

                    </div>

                    
                </div>


            </div>
            

        </div>
    </div>
</div>

