{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSameLine": false,
  "printWidth": 100
}
