
<!-- List crafted for the matches-->
<div *ngIf="matchList" [ngSwitch]="num_matches()" class="list-height overflow-scroll">

    <div *ngSwitchCase="0" class= "box has-background-light width-80 mb-1 has-text-centered margin-auto">
        <p> <strong>No matches available</strong></p>
    </div>

    <div *ngSwitchDefault>
        <div *ngFor="let item of matchList" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer">
            <p> <strong>{{item.username1}}</strong> vs. <strong>{{item.username2}}</strong></p>
        </div>
    </div>

</div>


<!-- List crafted for friends-->
<div *ngIf="friendsList" [ngSwitch]="num_friends()" class="list-height overflow-scroll">

    <div *ngSwitchCase="0" class= "box has-background-light width-80 mb-1 has-text-centered margin-auto">
        <p> <strong>There are no friends here :(</strong></p>
    </div>

    <div *ngSwitchDefault>
        <div *ngFor="let item of friendsList" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer" (click)="showChat(item.chatId)">
            <p> <strong>{{item.username}}</strong></p>
        </div>
    </div>

</div>



<!-- List crafted for the battle requests -->
<div *ngIf="notificationList && refuse && accept" class="list-height overflow-scroll">

    <div *ngFor="let item of notificationList">
        <div *ngIf="item.type == 'MatchRequest'" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer">
            <p> <strong>{{item.username}}</strong> wants to battle you !</p>
        </div>
        <!-- TODO What pass as a parameter to acceptBattle or refuseBattle ?? -->
        <button class="button is-success" (click)="accept()">Battle!</button>
        <button class="button is-danger" (click)="refuse()">Deny</button>
    </div>

</div>


<!-- List crafted for the friend requests -->
<div *ngIf="notificationList && refuse && accept" class="list-height overflow-scroll">

    <div *ngFor="let item of notificationList">
        <div *ngIf="item.type == 'FriendRequest'" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer">
            <p> <strong>{{item.username}}</strong> wants to be your friend !</p>
        </div>
        <button class="button is-success" (click)="accept(item.sender)">Accept</button>
        <button class="button is-danger" (click)="refuse(item.sender)">Refuse</button>
    </div>

</div>


