
<!-- List crafted for the matches-->
<div *ngIf="matchList" [ngSwitch]="num_matches()" class="list-height overflow-scroll">

    <div *ngSwitchCase="0" class= "box has-background-light width-80 mb-1 has-text-centered margin-auto">
        <p> <strong>No matches available</strong></p>
    </div>

    <div *ngSwitchDefault>
        <div *ngFor="let item of matchList" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer">
            <p> <strong>{{item.username1}}</strong> vs. <strong>{{item.username2}}</strong></p>
        </div>
    </div>

</div>


<!-- List crafted for friends-->
<div *ngIf="friendsList" [ngSwitch]="num_friends()" class="list-height overflow-scroll">

    <div *ngSwitchCase="0" class= "box has-background-light width-80 mb-1 has-text-centered margin-auto">
        <p> <strong>There's no friends here :(</strong></p>
    </div>

    <div *ngSwitchDefault>
        <div *ngFor="let item of friendsList" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer">
            <p> <strong>{{item.username}}</strong></p>
        </div>
    </div>

</div>


<!-- List crafted for users -->
<div *ngIf="userList" [ngSwitch]="num_users()" class="list-height overflow-scroll">

    <div *ngSwitchCase="0" class= "box has-background-light width-80 mb-1 has-text-centered margin-auto">
        <p> <strong>There's no users here :(</strong></p>
    </div>

    <div *ngSwitchDefault>
        <div *ngFor="let item of userList" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer">
            <p> <strong>{{item.username}} - {{ item.elo }} pp</strong></p>
        </div>
    </div>

</div>



<!-- List crafted for the battle requests -->
<div *ngIf="notificationList" class="list-height overflow-scroll">

    <div *ngFor="let item of notificationList">
        <div *ngIf="item.type == 'MatchRequest'" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer">
            <p> <strong>{{item.username}}</strong> wants to battle you !</p>
        </div>
    </div>

</div>


<!-- List crafted for the battle requests -->
<div *ngIf="notificationList" class="list-height overflow-scroll">

    <div *ngFor="let item of notificationList">
        <div *ngIf="item.type == 'FriendRequest'" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer">
            <p> <strong>{{item.username}}</strong> wants to be your friend !</p>
        </div>
    </div>

</div>
