<div *ngIf="user" class="box has-background-primary columns pointer" (click)="show_profile()">
    <div  class="column is-vcentered" >
        <p>
            <strong>{{ user.username }}</strong>
        </p>
        <p>
            {{ user.rank }} - {{user.elo}} points
        </p>
    </div>
    <div class="column is-one-quarter p-0">
        <figure class="image is-64x64 is-fullwidth margin-auto">
            <img class="fit margin-auto" src="assets/images/{{user.rank}}.png" />
        </figure>
    </div>
</div>
