<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">

        <div class="box has-background-primary height mt-2 is-vcentered mr-2">
                
                
            <div class="columns">
                <div *ngIf="friend" class="column">
                    <player-info [userId]="friend"></player-info>
                </div>
                <div class="column is-one-quarter pointer" (click)="leaveChat()">
                    <div class="box has-background-light pointer">
                        <div class="has-text-centered">
                            <strong>BACK</strong>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr class="mb-3">

            <chat-body [chatId]="chatId" [triggerUpdate]="trigger"></chat-body>

            
        </div>

    </div>
</div>



