/* You can add global styles to this file, and also import other style files */


.height{
    height: 97vh;
    overflow: hidden
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(171, 100%, 41%);
    border-radius: 20px;
    border: 3px solid hsl(0, 0%, 96%);
}

.width-80{
    width: 80%
}

.width-60{
  width: 60%
}

.width-20{
  width: 20%
}

.width-30{
  width: 30%
}

.width-40{
  width: 40%
}

.margin-auto{
    margin: 0 auto;
}

.fixed-height{
    height: 80px
}

.logo-dimension{
  width: 60%;
  height: 60%;
}

.pointer {cursor: pointer;}

.max-height{
  height: 100%
}

.image-fit{
  max-width: 100%;
  height: 50px;
  object-fit:scale-down;
}

.just-a-spacer{
  height:2px
}

.overflow-scroll{
  overflow-y: scroll;
}

.chat-height{
  height:95%;
}

.request-list-height{
  max-height:200px;
}

.leaders-list-height{
  max-height:500px;
}

.height-20{
  height:20%
}

.height-60{
  height: 60%
}

.height-80{
  height: 80%
}

.height-100{
  height: 100%
}

.boardLabel{
  border: 3px solid gray
}

.fire{
  border: 2px solid #ef233c;
  background-color: #ef233c;
}

.water{
  border: 2px solid #5465ff;
  background-color: #5465ff;
}

.carrier-color{
  color: #bfcc94
}

.carrier-back-color{
  background-color: #bfcc94;
}

.battleship-color{
  color: #b4cded
}

.battleship-back-color{
  background-color: #b4cded;
}

.cruiser-color{
  color:#4d6a6d
}

.cruiser-back-color{
  background-color: #4d6a6d;
}

.destroyer-color{
  color: #710627
}

.destroyer-back-color{
  background-color: #710627
}

.height-20px{
  height: 20px;
}