<div class="columns mt-3">

    <div class="column height box has-background-light mr-2 ml-4">
    
        <div class="columns">

            <div class="column is-half">

                <div class="box has-background-primary"><p class="has-text-light has-text-centered">Remaining ships</p></div>
                <div class="columns margin-auto is-justify-content-space-between">


                    <div clas="column is-half">


                        <div class="box mb-1 height-70px">
                            <figure class="image">
                                <img class="remaining-ships-height" src="assets/images/destroyer.png">
                            </figure>
                            <p class="has-weight-semibold mb-1">Destroyer - 1 remaining</p>
                        </div>

                        <div class="box height-70px">
                            <figure class="image">
                                <img class="remaining-ships-height" src="assets/images/cruiser.png">
                            </figure>
                            <p class="has-weight-semibold mb-1">Cruiser - 1 remaining</p>
                        </div>
    
                    </div>

                    <div clas="column is-half">

                        <div class="box mb-1 height-70px">
                            <figure class="image">
                                <img class="remaining-ships-height" src="assets/images/battleship.png">
                            </figure>
                            <p class="has-weight-semibold mb-1">Battleship - 1 remaining</p>
                        </div>

                        <div class="box height-70px">
                            <figure class="image">
                                <img class="remaining-ships-height" src="assets/images/carrier.png">
                            </figure>
                            <p class="has-weight-semibold mb-1">Carrier - 1 remaining</p>
                        </div>
    
                    </div>


                </div>
                <div class="width-80 margin-auto">
                    <opponent-board [state]="opponentGrid"></opponent-board>
                </div>
                
                
            </div>
            <div class="column is-half">

                <board [state]="playerGrid"></board>

                <!-- To set to your turn -->
                <div class="box has-background-primary mt-3 has-text-centered">
                    <strong class="has-text-light has-weight-bold">Opponent's turn</strong>
                </div>

                <div class ="columns width-80 margin-auto">
                    <div class="column is-one-third ">
                        <input type="text" class="input is-small" #rowShot> Insert row
                    </div>
                    
                    <div class="column is-one-third"> 
                        <input type="text" class="input is-small" #colShot> Insert column
                    </div>

                    <div class="column"> 
                        <button class="button is-medium is-danger" (click)="shot(rowShot.value, colShot.value)">Fire!</button>
                    </div>
                </div>

            </div>

        </div>
    
    
    </div>
    
    
    <div class="column height is-one-quarter mr-5">
    
            
        <div class="columns">

            <div class="column mr-3">
                <player-info [userId]="opponentsId"></player-info>
            </div>

            <div class="column is-one-quarter">
                <div class="box has-background-primary pointer height-100 columns" (click)="leaveMatch()">
                    <div class="has-text-centered">
                        <strong class="is-size-5 has-weight-semibold has-text-danger">Quit Game</strong>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="chat-height p-4">
            <chat-body [chatId]="chatId"></chat-body>
        </div>

    
    </div>
    
</div>
    

