<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">

        <div class="box has-background-primary height mt-2 is-vcentered mr-2">
                
                
            <div class="columns">
                <div class="column">
                    <h1 class="is-size-1 has-text-light ml-5 has-text-weight-bold">Friends</h1>
                </div>
                <div class="column is-one-quarter pointer" [routerLink]="['/homepage']">
                    <div class="box has-background-light pointer">
                        <div class="has-text-centered">
                            <strong>BACK</strong>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr class="mb-4">


            <div *ngIf="friends" class="friends-list-height overflow-scroll p-1">
                <app-list [friendsList]="friends"></app-list>
            </div>

            
        </div>

    </div>
</div>