<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">

        <div class="box has-background-light height mt-2 is-vcentered mr-1 columns">
            <div class="column is-half mt-4">
                
                <div clas="back-button-div">
                    <back-button></back-button>
                </div>
                
                <div class="box has-background-primary mt-2 friend-list-div mb-3">
                    <h1 class="is-size-1 has-text-light has-text-weight-semibold">Friends</h1>
                    <hr class="mb-4">

                    <div class="friends-list-height overflow-scroll p-1">
                        <app-list [friendsList]="friends" [clickAction]="update_chat"></app-list>
                    </div>

                    
                </div>

            </div>
            <div *ngIf="friendUsername" class="column is-half mt-4">

                <div class="box has-background-primary mt-2 chat-div mb-3">
                    <h1 class="is-size-1 has-text-light has-text-weight-semibold">{{friendUsername}}</h1>
                    <chat-body [chatId]="chatId"></chat-body>

                </div>

            </div>
        

        </div>

    </div>
</div>


