

<div class="box has-background-primary height mt-2 is-vcentered ml-5">
    <div class="height">
        <div class="container is-widescreen mt-4">
            <figure class="image is-vcentered is-128x128 container">
                <img class="" src="./../../../../assets/images/logo.png" alt="Image">
            </figure>
        </div> 
        
        <div class= "box has-background-light is-widescreen mb-6 has-text-centered">
            <p class="is-size-4"> <strong>Match History</strong> </p>
        </div>
       
        <app-history-list></app-history-list>
        
        <footer class="container mt-6 mb-0">
            <div class="container has-text-centered">
                <p class="has-text-light is-size-6">Powered by Unità dei Mandrilli</p>
            </div>
        </footer>
    </div>
</div>