

<div class="box has-background-primary mt-2 is-vcentered ml-4">
    <div class="height">
        <div class="container is-widescreen mt-4 pointer" [routerLink]="['/homepage']">
            <figure class="image is-vcentered logo-dimension container">
                <img class="" src="assets/images/logo.png" alt="Image">
            </figure>
        </div> 
        
        <div class= "box has-background-light is-widescreen mb-6 mt-6 has-text-centered">
            <p class="is-size-4"> <strong>Match History</strong> </p>
        </div>
       
        <div class="match-list-height overflow-scroll">

            <app-list [matchList]="matchHistory"></app-list>
        
        </div>

        <div class="mt-6">
            <settings-button></settings-button>
        </div>

        <div class="container mt-4 mb-0">
            <div class="container has-text-centered">
                <p class="has-text-light is-size-6">Powered by Unità dei Mandrilli</p>
            </div>
        </div>
    </div>
</div>