<div class="columns mt-3">

    <div class="column height box has-background-light mr-2 ml-4">
    
        <div class="columns mt-5">

            <div *ngIf="match" class="column is-half">

                <div class="width-80 margin-auto mb-6">
                    <player-info [userId]="match.player1.playerId" [redirection]="false"></player-info>
                </div>
                <board [state]="match.player1.grid" [triggerUpdate]="trigger" [userId]="match.player1.playerId"></board>

            </div>
            <div *ngIf="match" class="column is-half">

                <div class="width-80 margin-auto mb-6">
                    <player-info [userId]="match.player2.playerId" [redirection]="false"></player-info>
                </div>
                <board [state]="match.player2.grid" [triggerUpdate]="trigger" [userId]="match.player2.playerId"></board>
            </div>

        </div>
    </div>
    
    
    <div class="column height is-one-quarter mr-5">
    
        <div class="box has-background-primary pointer width-80 margin-auto">
            <div class="has-text-centered">
                <strong class="is-size-5 has-weight-semibold has-text-danger" (click)="quitView()">Quit Game</strong>
            </div>
        </div>
            
    
        <div *ngIf="chatId" class="chat-height p-4">
            <chat-body [chatId]="chatId" [triggerUpdate]="trigger"></chat-body>
        </div>
    
    </div>
    
</div>
    
