<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">

        <div class="box has-background-light height mt-2 is-vcentered mr-1 columns">
            <div class="column mt-4">
                
                <div clas="back-button-div">
                    <div class="box has-background-primary pointer" [routerLink]="['/homepage']">
                        <div class="columns">
                            <div class="column is-one-quarter has-text-centered">
                                <strong class="is-size-4 has-text-light has-weight-semibold">X</strong>
                            </div>
                            <div class="column ">
                                <strong class="is-size-4 has-text-light has-weight-semibold">CLOSE</strong>
                            </div>
                    
                        </div>
                    </div>
                </div>

                <div class="box has-background-primary mt-2 profile-body-div mb-3">
                    <div *ngIf="user">
                        <stats-overview [user]="user" [myProfile]="myProfile"></stats-overview>
                    </div>
                </div>

            </div>
            <div class="column is-one-third">

                <div class="half-profile-div box has-background-primary mt-2">
                    <div *ngIf="user">
                        <rank-overview [user]="user" [elo]="user.elo"></rank-overview>
                    </div>
                </div>
                <div class="half-profile-div box has-background-primary mt-2 mb-2">
                    <div *ngIf="isUserModerator && myProfile">
                        <moderator-section></moderator-section>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

