<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">

        <div class="box has-background-light height mt-2 is-vcentered mr-1 columns">
            <div class="column mt-4">
                
                <div clas="back-button-div">
                    <back-button></back-button>
                </div>

                <div class="box has-background-primary mt-2 profile-body-div mb-3">

                    <stats-overview [user]="user" [stats]="stats" [myProfile]="myProfile"></stats-overview>

                </div>

            </div>
            <div class="column is-one-third">

                <div class="half-profile-div box has-background-primary mt-2">
                    
                    <rank-overview [user]="user" [stats]="stats"></rank-overview>

                </div>
                <div class="half-profile-div box has-background-primary mt-2 mb-2">
                    <div *ngIf="myProfile && isUserModerator">
                        <moderator-section></moderator-section>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

