#u55_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:1120px;
    background:inherit;
    background-color:rgba(136, 187, 214, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#F2F2F2;
  }
  #u55 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:1120px;
    display:flex;
    color:#F2F2F2;
  }
  #u55 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u55_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }

  #u56 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u57_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:80px;
    background:inherit;
    background-color:rgba(233, 233, 233, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-right:0px;
    border-radius:0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#02A7F0;
  }
  #u57 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:232px;
    width:312px;
    height:80px;
    display:flex;
    color:#02A7F0;
  }
  #u57 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u57_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u58_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:64px;
    background:inherit;
    background-color:rgba(233, 233, 233, 1);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Grassetto', 'Arial Normale', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:25px;
    letter-spacing:2px;
    color:#02A7F0;
    text-align:center;
  }
  #u58 {
    border-width:0px;
    position:absolute;
    left:46px;
    top:240px;
    width:220px;
    height:64px;
    display:flex;
    font-family:'Arial Grassetto', 'Arial Normale', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:25px;
    letter-spacing:2px;
    color:#02A7F0;
    text-align:center;
  }
  #u58 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u58_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u59_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:17px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Grassetto', 'Arial Normale', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:15px;
    color:#F9F9F9;
  }
  #u59 {
    border-width:0px;
    position:absolute;
    left:46px;
    top:1087px;
    width:220px;
    height:17px;
    display:flex;
    font-family:'Arial Grassetto', 'Arial Normale', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:15px;
    color:#F9F9F9;
  }
  #u59 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u59_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u60 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }