<h1 class="is-size-4 has-text-centered "><strong class="has-text-light">Moderator Section</strong></h1>

<p class="has-text-light mt-3">Ban user</p>
<div class="columns">
    <div class="column">
        <input class="input" type="text" placeholder="Insert valid username">
    </div>
    <div class="column is-one-quarter">
        <button class="button is-danger">BAN</button>
    </div>
</div>
<hr class="mt-1 mb-1">
<p class="has-text-light">Insert new moderator</p>

<input class="input mt-1" type="text" placeholder="Insert username">

<input class="input mt-1" type="text" placeholder="Insert temporary password">


<button class="button mt-1 is-small is-info is-fullwidth">Create moderator</button>
