<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">
        <div class="box has-background-primary height mt-2 mr-2 p-5">

            <div class="columns mb-6">
                <div class="column">
                    <h1 class="is-size-1 has-text-light has-text-weight-bold ml-2">Play with a friend</h1>
                </div>
                <div class="column is-one-quarter">
                    <back-button></back-button>
                </div>
            </div>

            <div class="friend-list-height overflow-scroll p-1">
                <friend-list></friend-list>
            </div>

                
        </div>
    </div>
</div>
