<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">
        <div class="box has-background-primary height mt-2 is-vcentered mr-2">

            <div class="columns">
                <div class="column">
                    <h1 class="is-size-1 has-text-light has-text-centered has-text-weight-bold">Notification</h1>
                </div>
                <div class="column is-one-quarter pointer" [routerLink]="['/homepage']">
                    <div class="box has-background-light pointer">
                        <div class="has-text-centered">
                            <strong>BACK</strong>
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <h1 class="is-size-4 has-text-light has-text-weight-semibold">Friend Request</h1>
                <hr class="mb-2 mt-1">
                <div class="request-list-height overflow-scroll p-1">


                    <div *ngFor="let item of friendNotifications">
                        <div *ngIf="item.type == 'FriendRequest'" class= "box has-background-light is-widescreen mb-1 has-text-centered pointer is-flex">
                            <div class="column is-three-quarters has-text-left">
                                <strong>{{item.senderUsername}}</strong> wants to be your friend !
                            </div>
                            <div class="column is-one-quarter">
                                <button class="button is-success mr-2" (click)="acceptFriend(item.sender)">Accept</button>
                                <button class="button is-danger" (click)="refuseFriend(item.sender)">Refuse</button>
                            </div>
                        </div>
                        
                    </div>



                    
                </div>
                <h1 class="is-size-4 has-text-light mt-6 has-text-weight-semibold">Match Request</h1>
                <hr class="mb-2 mt-1">
                <div class="request-list-height overflow-scroll p-1">
                    <app-list [notificationList]="battleNotifications" [accept]="acceptBattle" [refuse]="refuseBattle"></app-list>
                </div>

            </div>

            

        </div>
    </div>
</div>
