<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">
        <div class="box has-background-primary height mt-2 mr-2 p-5">

            <div class="columns mb-6">
                <div class="column">
                    <h1 class="is-size-1 has-text-light has-text-weight-bold ml-2">Settings</h1>
                </div>
                <div class="column is-one-quarter">


                    <div class="box has-background-light pointer" [routerLink]="['/homepage']">
                        <div class="has-text-centered">
                            <strong>BACK</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="width-80 mt-3 mb-6">

                <h1 class="is-size-3 has-text-weight-semibold has-text-light  mb-3">Change username</h1>

                <div class="columns">
                    <div class="column">
                        
                        <input class="input is-medium" type="text" placeholder="Insert new valid username" #newUsername>
                        
                    </div>
                    <div class="column is-one-quarter">
                        <button class="button is-medium is-light" (click)="changeUsername(newUsername.value)">Change</button>
                    </div>
                </div>
            </div>

            <hr>

            <div class="width-80 mt-3 mb-6">
                <h1 class="is-size-3 has-text-weight-semibold has-text-light mb-3">Change password</h1>
                
                <div class="columns">
                    <div class="column">

                        <input class="input is-medium" type="text" placeholder="Insert new password" #newPwd>

                    </div>
                    <div class="column is-one-quarter">
                        
                        <button class="button is-medium is-light" (click)="changePwd(newPwd.value)">Change</button>
                        
                    </div>
                </div>
            </div>

            <hr>

            <div class="columns width-40 margin-auto">
                <div class="column">
                    
                    <button class="button is-medium is-warning button-width" (click)="logout()" >Logout</button>
                </div>
                <div class="column">

                    <button class="button is-medium is-danger button-width" (click)="deleteProfile()" >Delete Profile</button>
                    
                </div>
            </div>
                
        </div>
    </div>
</div>

