<div class="columns">
    <div class="column is-one-quarter">
          <history-sidebar> </history-sidebar>
    </div>
    <div class = "column">
        <div class="box has-background-primary height mt-2 mr-2 p-5">

            <div class="columns mb-6">
                <div class="column">
                    <h1 class="is-size-1 has-text-light has-text-weight-bold ml-2">Settings</h1>
                </div>
                <div class="column is-one-quarter">


                    <div class="box has-background-light pointer">
                        <div class="has-text-centered">
                            <strong>BACK</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="width-80 mt-3 mb-6">

                <h1 class="is-size-3 has-text-weight-semibold has-text-light  mb-3">Change username</h1>

                <div class="columns">
                    <div class="column">
                        <input-field></input-field>
                    </div>
                    <div class="column is-one-quarter">
                        <button class="button is-medium is-light">Change</button>
                    </div>
                </div>
            </div>

            <hr>

            <div class="width-80 mt-3 mb-6">
                <h1 class="is-size-3 has-text-weight-semibold has-text-light mb-3">Change password</h1>
                
                <div class="columns">
                    <div class="column">
                        <div class="mb-3">
                            <input-field></input-field>
                        </div>
                        <input-field></input-field>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="height-50"></div>
                        <button class="button is-medium is-light">Change</button>
                    </div>
                </div>
            </div>

            <hr>

            <div class="columns width-40 margin-auto">
                <div class="column">
                    
                    <button class="button is-medium is-warning button-width">Logout</button>
                </div>
                <div class="column">

                    <button class="button is-medium is-danger button-width">Delete Profile</button>
                    
                </div>
            </div>
                
        </div>
    </div>
</div>

