<div class="box is-widescreen has-background-light ml-4 mr-4">

    <div class="box has-background-primary width-80 margin-auto mt-4 columns p-0  is-vcentered">
        <div class="column has-text-centered">
            
            <img class="image-fit margin-auto" src="assets/images/logo.png" alt="Image">
                
        </div>
        <div class="column">

            <h1 class="has-text-weight-semibold is-family-sans-serif is-size-2">Register</h1>

        </div>

    </div>
    

</div>
<div class="box is-widescreen has-background-light ml-4 mr-4">

    <fieldset>
        <h1 class="has-text-weight-semibold is-family-sans-serif is-size-4 mb-6">Insert your credentials:</h1>

        <div class="columns width-80 is-vcentered mt-4">
            <div class="column is-one-quarter">
                <h1 class="has-text-weight-semibold is-family-sans-serif is-size-3">Username </h1>
            </div>
            <div class="column">
                
                <input class="input is-medium" type="text" placeholder="Insert username" #username>
                
            </div>
        </div>

        <div class="columns width-80 is-vcentered mt-4">
            <div class="column is-one-quarter">
                <h1 class="has-text-weight-semibold is-family-sans-serif is-size-3">Password </h1>
            </div>
            <div class="column">
                
                <input class="input is-medium" type="password" placeholder="Insert password" #password>
            
            </div>
        </div>
        <div class="columns width-80 is-vcentered mt-4">
            <div class="column is-one-quarter">
                
            </div>
            <div class="column">
                <button class="button is-primary is-size-5" (click)="signup(username.value, password.value)">Register</button>

                <div  class="width-80 margin-auto has-text-centered height-20px">
                    <p *ngIf="userMessage.error" class="has-text-danger is-size-5">{{userMessage.errorMessage}}</p>
                </div>

            </div>
        </div>

        <div class="width-40 margin-auto has-text-centered mb-3 mt-6">
            <p>Already have an account ? <a routerLink="/authentication/login"> Sign in here ! </a></p>
        </div>
        

    </fieldset>

</div>
