
<table id="board" class="table is-bordered is-striped">
    <tr class="has-text-centered">
        <td class="boardLabel" ></td>
        <td class="boardLabel" >1</td>
        <td class="boardLabel" >2</td>
        <td class="boardLabel" >3</td>
        <td class="boardLabel" >4</td>
        <td class="boardLabel" >5</td>
        <td class="boardLabel" >6</td>
        <td class="boardLabel" >7</td>
        <td class="boardLabel" >8</td>
        <td class="boardLabel" >9</td>
        <td class="boardLabel" >10</td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >A</td>
        <td id="{{userId}}00"></td>
        <td id="{{userId}}01"></td>
        <td id="{{userId}}02"></td>
        <td id="{{userId}}03"></td>
        <td id="{{userId}}04"></td>
        <td id="{{userId}}05"></td>
        <td id="{{userId}}06"></td>
        <td id="{{userId}}07"></td>
        <td id="{{userId}}08"></td>
        <td id="{{userId}}09"></td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >B</td>
        <td id="{{userId}}10"></td>
        <td id="{{userId}}11"></td>
        <td id="{{userId}}12"></td>
        <td id="{{userId}}13"></td>
        <td id="{{userId}}14"></td>
        <td id="{{userId}}15"></td>
        <td id="{{userId}}16"></td>
        <td id="{{userId}}17"></td>
        <td id="{{userId}}18"></td>
        <td id="{{userId}}19"></td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >C</td>
        <td id="{{userId}}20"></td>
        <td id="{{userId}}21"></td>
        <td id="{{userId}}22"></td>
        <td id="{{userId}}23"></td>
        <td id="{{userId}}24"></td>
        <td id="{{userId}}25"></td>
        <td id="{{userId}}26"></td>
        <td id="{{userId}}27"></td>
        <td id="{{userId}}28"></td>
        <td id="{{userId}}29"></td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >D</td>
        <td id="{{userId}}30"></td>
        <td id="{{userId}}31"></td>
        <td id="{{userId}}32"></td>
        <td id="{{userId}}33"></td>
        <td id="{{userId}}34"></td>
        <td id="{{userId}}35"></td>
        <td id="{{userId}}36"></td>
        <td id="{{userId}}37"></td>
        <td id="{{userId}}38"></td>
        <td id="{{userId}}39"></td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >E</td>
        <td id="{{userId}}40"></td>
        <td id="{{userId}}41"></td>
        <td id="{{userId}}42"></td>
        <td id="{{userId}}43"></td>
        <td id="{{userId}}44"></td>
        <td id="{{userId}}45"></td>
        <td id="{{userId}}46"></td>
        <td id="{{userId}}47"></td>
        <td id="{{userId}}48"></td>
        <td id="{{userId}}49"></td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >F</td>
        <td id="{{userId}}50"></td>
        <td id="{{userId}}51"></td>
        <td id="{{userId}}52"></td>
        <td id="{{userId}}53"></td>
        <td id="{{userId}}54"></td>
        <td id="{{userId}}55"></td>
        <td id="{{userId}}56"></td>
        <td id="{{userId}}57"></td>
        <td id="{{userId}}58"></td>
        <td id="{{userId}}59"></td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >G</td>
        <td id="{{userId}}60"></td>
        <td id="{{userId}}61"></td>
        <td id="{{userId}}62"></td>
        <td id="{{userId}}63"></td>
        <td id="{{userId}}64"></td>
        <td id="{{userId}}65"></td>
        <td id="{{userId}}66"></td>
        <td id="{{userId}}67"></td>
        <td id="{{userId}}68"></td>
        <td id="{{userId}}69"></td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >H</td>
        <td id="{{userId}}70"></td>
        <td id="{{userId}}71"></td>
        <td id="{{userId}}72"></td>
        <td id="{{userId}}73"></td>
        <td id="{{userId}}74"></td>
        <td id="{{userId}}75"></td>
        <td id="{{userId}}76"></td>
        <td id="{{userId}}77"></td>
        <td id="{{userId}}78"></td>
        <td id="{{userId}}79"></td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >I</td>
        <td id="{{userId}}80"></td>
        <td id="{{userId}}81"></td>
        <td id="{{userId}}82"></td>
        <td id="{{userId}}83"></td>
        <td id="{{userId}}84"></td>
        <td id="{{userId}}85"></td>
        <td id="{{userId}}86"></td>
        <td id="{{userId}}87"></td>
        <td id="{{userId}}88"></td>
        <td id="{{userId}}89"></td>
    </tr>
    <tr class="has-text-centered">
        <td class="boardLabel" >J</td>
        <td id="{{userId}}90"></td>
        <td id="{{userId}}91"></td>
        <td id="{{userId}}92"></td>
        <td id="{{userId}}93"></td>
        <td id="{{userId}}94"></td>
        <td id="{{userId}}95"></td>
        <td id="{{userId}}96"></td>
        <td id="{{userId}}97"></td>
        <td id="{{userId}}98"></td>
        <td id="{{userId}}99"></td>
    </tr>

</table>
